<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-white" id="sidebar-wrapper">
        <div class="list-group list-group-flush my-3">
            <a href="/studentDashboard" class="list-group-item list-group-item-action bg-transparent second-text active"><i
                    class="fas fa-tachometer-alt me-2"></i>Dashboard</a>
            <a href="/bookmarks" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                    class="fas fa-project-diagram me-2"></i>Bookmarks</a>
            <a href="/login" class="list-group-item list-group-item-action bg-transparent text-danger fw-bold"><i
                    class="fas fa-power-off me-2"></i>Logout</a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
            <div class="d-flex align-items-center">
                <h2 class="fs-2 m-0">Bookmarks</h2>
            </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle second-text fw-bold" href="#" id="navbarDropdown"
                            role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-user me-2"></i>User
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="/login">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        
		<table class="table align-middle mb-0 bg-white">
            <thead class="bg-light">
                <tr>
                    <th>Name</th>
                    <th>Contact Number/s</th>
                    <th>Address</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <img src="https://mdbootstrap.com/img/new/avatars/8.jpg" alt=""
                                style="width: 45px; height: 45px" class="rounded-circle" />
                            <div class="ms-3">
                                <p class="fw-bold mb-1">Don Bosco Tehcnical Institute of Makati</p>
                                <p class="text-muted mb-0">dbmakati.communications@one-bosco.org</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <p class="fw-normal mb-1">09992202025</p>
                        <p class="text-muted mb-0">09760544809</p>
                    </td>
                    <td>
                        Chino Roces Ave, Makati, 1230 Metro Manila
                    </td>
                    <td>
                        <button type="button" class="btn btn-link btn-rounded btn-sm fw-bold" mdbRipple
                            rippleColor="dark"><a href="/schoolProfile">
                                Inquire</a>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <img src="https://mdbootstrap.com/img/new/avatars/6.jpg" class="rounded-circle" alt=""
                                style="width: 45px; height: 45px" />
                            <div class="ms-3">
                                <p class="fw-bold mb-1">Ateneo de Manila University</p>
                                <p class="text-muted mb-0">admissions.ls@ateneo.edu</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <p class="fw-normal mb-1">(+632)8426 6001</p>
                    </td>
                    <td>
                        Katipunan Ave, Quezon City, 1108 Metro Manila
                    </td>
                    <td>
                        <button type="button" class="btn btn-link btn-rounded btn-sm fw-bold" mdbRipple
                            rippleColor="dark"><a href="/schoolProfile">
                                Inquire</a>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <img src="https://mdbootstrap.com/img/new/avatars/7.jpg" class="rounded-circle" alt=""
                                style="width: 45px; height: 45px" />
                            <div class="ms-3">
                                <p class="fw-bold mb-1">University of the Philppines Diliman</p>
                                <p class="text-muted mb-0">joadms@up.edu.ph</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <p class="fw-normal mb-1">(+632)8981-8500</p>
                    </td>
                    <td>
                        Kalaw cor. Quirino Avenue, UP Diliman
                        Quezon City 1101
                    </td>
                    <td>
                        <button type="button" class="btn btn-link btn-rounded btn-sm fw-bold" mdbRipple
                            rippleColor="dark"><a href="/schoolProfile">
                                Inquire</a>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
