<div class="container m-5">
  <p class="text-white">for space</p>
</div>
<section class="vh-25">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">

      <!--Main-->
      <div class="col-md-9 col-lg-6 col-xl-4 mt-3">
        <form>
          <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
            <img src="./assets/db.png" class="lead fw-normal mb-0 me-3" style="width: 100px; height: 100px;">
            <div class="col mt-3">
              <h1 class="mx-1"><strong>Edu-Aksyon</strong></h1>
              <p class="mx-1" style="text-align: justify;">A Bosconian effort to aid in attaining SDG4 by making it easier to find schools, courses and scholarships for students. It also helps educational institutions broaden their online presence.</p>
            </div>
          </div>

          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0">Login now to use today!</p>
          </div>

          <div class="d-flex justify-content-center align-items-center">
            <!-- Checkboxes -->
            <div class="form-check mb-0">
              <!-- Email input -->
              <div class="form-group">
                <div class="form-floating mb-4">
                  <input type="ID" id="ID " class="form-control form-control-lg" />
                  <label class="form-label" for="email">School ID</label>
                </div>

                <div class="form-floating mb-4">
                  <input type="name" id="name" class="form-control form-control-lg" />
                  <label class="form-label" for="email">School Name</label>
                </div>

                <div class="form-floating mb-3">
                  <input type="password" id="password" class="form-control form-control-lg" />
                  <label class="form-label" for="password">Password</label>
                </div>

                <div class="form-floating mb-4">
                  <input type="email" id="email" class="form-control form-control-lg" />
                  <label class="form-label" for="email">Email address</label>
                </div>
                <button type="button" class="btn btn-lg m-5 mt-3" id="loginbtn"><a href="/schoolDashboard">Login</a></button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
