<section>
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">

      <!--Main-->
      <div class="col-md-9 col-lg-6 col-xl-4 offset-xl-1 mt-3">
        <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
          <img src="./assets/db.png" class="lead fw-normal mb-0 me-3" style="width: 100px; height: 100px;">
          <div class="col mt-3">
            <h1 class="mx-1"><strong>Edu-Aksyon</strong></h1>
            <p class="mx-1" style="text-align: justify;">A Bosconian effort to aid in attaining SDG4 through making
              information on out-of-school youth in the Philippines more accessible.</p>
          </div>
        </div>

        <div class="divider d-flex align-items-center my-4">
          <p class="text-center fw-bold mx-3 mb-0">Register now to use today!</p>
        </div>

        <a href="schoolRegistration" routerLink="/schoolRegistration" routerLinkActive="active"
          ariaCurrentWhenActive="page">Register as School</a><br>
        <a href="studentRegistration" routerLink="/schoolRegistration" routerLinkActive="active"
          ariaCurrentWhenActive="page">Register as Student</a>
      </div>
    </div>
  </div>
</section>