<section class="vh-25">
  <div class="container h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">

      <!--Main-->
      <div class="col-md-9 col-lg-6 col-xl-4 mt-3">
        <form>
          <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
            <div class="fw-normal mb-0 me-3"></div>
            <div class="col mt-3">
              <h1 class="mx-1 my-3"><strong>Register!</strong></h1>
              <p class="mx-1" style="text-align: justify;">Input your student information so that we can immediately set-up a profile for you with recommended schools depending on your area that offer courses of your liking.</p>
            </div>
          </div>

          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0">Register now to use today!</p>
          </div>

          <div class="d-flex justify-content-center align-items-center p-2">
          <h4>Student Information</h4>
          </div>
          
          <div class="d-flex justify-content-center align-items-center">
            <!-- Checkboxes -->
            <div class="form-check mb-0">
              <!-- Email input -->
              <div class="form-group">
                <div class="form-floating mb-4">
                  <input type="ID" id="ID " class="form-control form-control-lg" />
                  <label class="form-label" for="email">Full Name (Ex. Juan P. Dela Cruz)</label>
                </div>

                <div class="form-floating mb-4">
                  <input type="name" id="name" class="form-control form-control-lg" />
                  <label class="form-label" for="email">Contact Number</label>
                </div>

                <div class="form-floating mb-3">
                  <input type="password" id="password" class="form-control form-control-lg" />
                  <label class="form-label" for="password">Password</label>
                </div>

                <div class="form-floating mb-4">
                  <input type="email" id="email" class="form-control form-control-lg" />
                  <label class="form-label" for="email">Email address</label>
                </div>
                <label for="curricularClassification">Region</label>
                <select class="form-select" id="regions" required name="regions"
                  aria-label="Default select">
                  <option *ngFor="let region of regions" [value]="region">{{ region }}</option>
                </select>
                <button type="button" class="btn btn-lg" id="loginbtn"><a href="/studentDashboard">Register</a></button>
			  </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
