<!-- ======= Jumbotron Section ======= -->
<section id="hero" class="hero d-flex align-items-center">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <h1>Edu-Aksyon</h1>
        <h2>A team that strives to innovate the world through technology!</h2>
        <div>
          <div class="text-center text-lg-start">
            <a href="/login"
              class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
              <span>Get Started</span>
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 hero-img">
        <img src="assets/jumbotron-image.png" class="img-fluid">
      </div>
    </div>
  </div>

</section><!-- End Jumbotron -->

<main id="main">

  <!-- ======= About the stuff Section ======= -->
  <section id="about" class="about">

    <div class="container">
      <div class="row gx-0">

        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <div class="content">
            <h3>About Us</h3>
            <h2>Edu-Aksyon</h2>
            <p>
              A social network that focuses on admission and enrollment for students and schools to
              promote their courses and programs through the use of web-based platform.
            </p>
            <div class="text-center text-lg-start">
              <a href="/registration"
                class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Register now</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>

        <!--THIS IS A SAMPLE IMAGE FEEL FREE TO MAKE IBA-->
        <div class="col-lg-6 d-flex align-items-center">
          <img src="assets/about.png" class="img-fluid">
        </div>

      </div>
    </div>

  </section><!-- End About Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services">

    <div class="container">

      <header class="section-header">
        <h2>Services</h2>
        <p>EDU-AKSYON'S FEATURES</p>
      </header>

      <div class="row gy-4">

        <div class="col-lg-4 col-md-6">
          <div class="service-box blue">
            <i class="ri-discuss-line icon"></i>
            <h3>Scholarship Finder</h3>
            <p>Need help attaining a scholarship?</p>
            <a href="/login" class="read-more"><span>Learn More</span> <i class="bi bi-arrow-right"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="service-box orange">
            <i class="ri-discuss-line icon"></i>
            <h3>Search by Location</h3>
            <p>Looking for schools/Institutions?</p>
            <a href="/login" class="read-more"><span>Learn More</span> <i class="bi bi-arrow-right"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="service-box green">
            <i class="ri-discuss-line icon"></i>
            <h3>Intesrests Match</h3>
            <p>Want to find the perfect school/institution perfect for your acquired skills?</p>
            <a href="/login" class="read-more"><span>Learn More</span> <i class="bi bi-arrow-right"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="service-box red">
            <i class="ri-discuss-line icon"></i>
            <h3>Enrollment Handler</h3>
            <p>Click here for assistance in assessing your applications, handling your documents, etc.</p>
            <a href="/login" class="read-more"><span>Learn More</span> <i class="bi bi-arrow-right"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="service-box purple">
            <i class="ri-discuss-line icon"></i>
            <h3>Extra-curricular Courses</h3>
            <p>Interested in activities outside the scope of a regular curriculum?</p>
            <a href="/login" class="read-more"><span>Learn More</span> <i class="bi bi-arrow-right"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="service-box pink">
            <i class="ri-discuss-line icon"></i>
            <h3>Smart Contact</h3>
            <p>Edu-Aksyon creates an automated email template for inquiries to schools.</p>
            <a href="/login" class="read-more"><span>Learn More</span> <i class="bi bi-arrow-right"></i></a>
          </div>
        </div>

      </div>

    </div>

  </section><!-- End Services Section -->

  <!-- ======= Team Section ======= -->
  <section id="team" class="team">

    <div class="container">

      <header class="section-header">
        <h2>Team</h2>
        <p>Bosco Devs</p>
      </header>

      <div class="row gy-4">
        <div class="col"></div>
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <div class="member-img">
              <img src="assets/team/paris.png" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-github"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Paris Hilario</h4>
              <span>Project Leader/Manager</span>
              <p>Pogi #1</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <div class="member-img">
              <img src="assets/team/euan.png" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-github"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Euan Refuerzo</h4>
              <span>Writer/Pitcher</span>
              <p>Pogi #2</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <div class="member-img">
              <img src="assets/team/jay.png" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-github"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Jay Javines</h4>
              <span>Researcher</span>
              <p>Pogi #3</p>
            </div>
          </div>
        </div>
        <div class="col"></div>
      </div>


      <div class="row gy-4">
        <div class="col"></div>
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <div class="member-img">
              <img src="assets/team/gonzales.png" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-github"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Gabriel Gonzales</h4>
              <span>Developer</span>
              <p>Pogi #4</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <div class="member-img">
              <img src="assets/team/gus.jpg" class="img-fluid" width="300px" height="300px">
              <div class="social">
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-github"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Miguel Obispo</h4>
              <span>Designer</span>
              <p>Pogi #5</p>
            </div>
          </div>
        </div>
        <div class="col"></div>
      </div>

    </div>

  </section><!-- End Team Section -->

</main><!-- End #main -->
