#header {
    background-color: white;
    font-size: 30px;
}

a {
    text-decoration: none !important;
    font-size: 30px;
    color: #f7931e;
}

#about-us {
    display: flex; 
    align-items: center;
    margin: 0px;
}