#header {
    background-color: rgba(239,184,20,255);
    font-size: 30px;
}

a {
    text-decoration: none !important;
    font-size: 25px;
    color: white;
}

#about-us {
    display: flex; 
    align-items: center;
}

img {
    padding: 20px;
}