<section class="vh-25">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">

      <!--Main-->
      <div class="col-md-9 col-lg-6 col-xl-4 offset-xl-1 mt-3">
        <form>
          <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
            <img src="./assets/db.png" class="lead fw-normal mb-0 me-3" style="width: 100px; height: 100px;">
            <div class="col mt-3">
              <h1 class="mx-1"><strong>Edu-Aksyon</strong></h1>
              <p class="mx-1" style="text-align: justify;">A Bosconian effort to aid in attaining SDG4 through making
                information on out-of-school youth in the Philippines more accessible.</p>
            </div>
          </div>

          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0">Register now to use today!</p>
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <div class="form-group form-check mb-0">
              <div class="form-group">
                <div class="form-floating mb-4">
                  <input type="ID" id="ID " class="form-control form-control-lg" />
                  <label class="form-label" for="email">School ID</label>
                </div>

                <div class="form-floating mb-4">
                  <input type="name" id="name" class="form-control form-control-lg" />
                  <label class="form-label" for="email">School Name</label>
                </div>

                <div class="form-floating mb-3">
                  <input type="password" id="password" class="form-control form-control-lg" />
                  <label class="form-label" for="password">Password</label>
                </div>

                <div class="form-floating mb-4">
                  <input type="email" id="email" class="form-control form-control-lg" />
                  <label class="form-label" for="email">Email address</label>
                </div>
                <label for="generalCurricularOfferings">General Curricular Offerings</label>
                <select class="form-select" id="color" required name="generalCurricularOfferings"
                  aria-label="Default select">
                  <option>Elementary</option>
                  <option>Secondary</option>
                </select>
                <label for="schoolGeneralClassification">School General Classification</label>
                <select class="form-select" id="color" required name="schoolGeneralClassification"
                  aria-label="Default select">
                  <option>Public</option>
                  <option>Private</option>
                </select>
                <label for="curricularClassification">Curricular Classification</label>
                <select class="form-select" id="curricularClassification" required name="curricularClassification"
                  aria-label="Default select">
                  <option>Kinder</option>
                  <option *ngFor="let curriculum of curricularClassification" [value]="curriculum">{{ curriculum }}
                  </option>
                </select>
                <label for="curricularClassification">Region</label>
                <select class="form-select" id="regions" required name="regions" aria-label="Default select">
                  <option *ngFor="let region of regions" [value]="region">{{ region }}</option>
                </select>
                <button type="button" class="btn btn-lg" id="loginbtn">Register</button>
              </div>
            </div>
          </div>
        </form>
        <div [hidden]="!submitted">
          <h2>You submitted the following:</h2>
          <div class="row">
            <div class="col-xs-3">ID</div>
            <div class="col-xs-9">{{ model.schoolID }}</div>
          </div>
          <div class="row">
            <div class="col-xs-3">Name</div>
            <div class="col-xs-9">{{ model.schoolName }}</div>
          </div>
          <div class="row">
            <div class="col-xs-3">General Curricular Offerings</div>
            <div class="col-xs-9">{{ model.generalCurricularOfferings }}</div>
          </div>
          <div class="row">
            <div class="col-xs-3">School General Classification</div>
            <div class="col-xs-9">{{ model.schoolGeneralClassification }}</div>
          </div>
          <div class="row">
            <div class="col-xs-3">General Curricular Offerings</div>
            <div class="col-xs-9">{{ model.generalCurricularOfferings }}</div>
          </div>
          <div class="row">
            <div class="col-xs-3">Region</div>
            <div class="col-xs-9">{{ model.region }}</div>
          </div>
          <br>
          <button type="button" class="btn btn-primary" (click)="submitted=false">Edit</button>
        </div>
      </div>
    </div>
  </div>
</section>
